body {
    text-align: center;
    background-image: url("./images/beach.jpg");
    background-repeat: no-repeat;
    background-size: cover;

}
.jumbotron {
    background-color: rgba(240, 248, 255, 0.384);
}

.display-4 {
    font-family: 'Sedgwick Ave', cursive;
}
